.get-color-tool-main {
    max-width: 1000px;
    min-width: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 20%) 0 10px 30px;

    .input {
        display: none;
    }

    .title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
    }

    .content-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .item-box {
            max-width: 1000px;
            min-width: 180px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;

            .item {
                height: 32px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 10px;

                &-title {
                    margin-right: 10px;
                }

                .select-btn {
                    width: 100%;
                }

                .ant-btn,
                .ant-input {
                    border-radius: 5px;
                }
            }

            .rgb-item {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .middle-item {
                    margin: 0 5px;
                }
            }
        }

        .preview-box {
            height: 158px;
            position: relative;
            margin-left: 10px;

            img {
                max-width: 100%;
                max-height: 100%;
                border-radius: 5px;
            }

            .preview-posion-broder {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }

    .img-box {
        max-width: 1200px;
        max-height: 600px;
        min-height: 200px;
        background-color: var(--gray-1);
        border-radius: 5px;
        overflow: auto;
    }
}